body {
    background-color: #222;
    /*background-image: url("https://wallpaperaccess.com/full/51364.jpg");*/
    background-image: url("https://cdn.discordapp.com/attachments/1017242896795172984/1027321957793935532/Lukas09_Battle_in_Stalingrad_0982c2fb-6efe-48b3-861b-7cf3327c8fe1.png");
}


h1 {
    color: white;
}

h3 {
    color: white;
}

h2 {
    color: white;
    font-size: xx-large;
}


/*-------- DIVs ------------------*/


.div0 {
    /*border: 5px solid green;*/
    width: 100%;
    height: 100%;
}

.div1 {
    /*border: 5px solid red;*/
    float: left;
    max-width: 33%;
    width: 33%;
    max-height: 100%;
}

.div2 {
    /*border: 5px solid red;*/
    float: left;
    max-height: 100%;
    width: 34%;
}

.div3 {
    /*border: 5px solid red;*/
    float: right;
    max-height: 100%;
    max-width: 32%;
  color: #ffffff;
}

.divwetter {
    text-align: left;
    max-height: 50%;
}

.divnarichten {
    text-align: left;
    max-height: 50%;
}

.divsuche {
    margin-top: 15%;
    max-height: 50%;
    text-align: center;
}

.divfreespace {
    max-height: 50%;
}

.divhandy{
  
  max-height: 100%;
  text-align: right;
  
  
}

.divyoutube {
    max-height: 50%;
    text-align: right;
}


/* -----------input usw.------------------*/


.input1 {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: none;
    border-bottom: 2px solid white;
    border-radius: 0px;
    background-color: #ffffff00;
    color: white;
    height: 60px;
    width: 100%;
    font-size: medium;
    text-align: center;
}

.inputhandy{
    border: 1px solid white;
    border-radius: 20px;
    background-color: #222;
    color: white;
    height: 30px;
    width: 50%;
    font-size: small;
    text-align: center;
}

.inputyt {
    border: 1px solid rgb(155, 155, 155);
    border-radius: 20px;
    background-color: transparent;
    color: white;
    height: 30px;
    width: 60%;
    font-size: small;
    text-align: center;
}

.button1 {
    border: 1px solid white;
    border-radius: 20px;
    background-color: #222;
    color: white;
    height: 30px;
    width: 10%;
    font-size: smaller;
    text-align: center;
}

.abc {
  margin-top: 100px;
  text-align: center;
  border: 0ch solid black;
  border-radius: 5px;
  
}

a {
  color: white;
  transition: 0.2s;
}

a:hover {
  transform: scale(1.1);
}

.druf {
  margin-top: 10px;
  border: 1px solid white;
  transition: 0.2s;
  border-radius: 5px;
}

.druf:hover {
  transform: scale(1.1);
  
}


.addtodo {
  background-color: #ffffff00;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  
  transition: 0.2s;
  
}

.addtodo:active {
  transform: scale(5);
}

.addtodo:hover {
  transform: scale(1);
}


/*---------andere--------*/

   
#sc-container {
    
}
